@import "tailwindcss";
@plugin "@tailwindcss/forms";
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideDown {
  animation: slideDown 0.3s ease-out forwards;
}
:root {
  --font-greatvibes: 'Great Vibes', cursive;
  --font-inter: 'Inter', sans-serif;
}

.font-greatvibes {
  font-family: var(--font-greatvibes);
}

.font-inter {
  font-family: var(--font-inter);
}
